<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title">{{user.name}} ({{user.username}})</h5>
        <p class="card-subtitle mb-2 text-muted">Posted on {{format_date date_created}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>